@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #212529;
}

@font-face {
  font-family: IRAN_SANS;
  src: url("../font/Iranian\ Sans.ttf");
}

@font-face {
  font-family: Acme;
  src: url("../font/Acme-Regular.ttf");
}
